[Desktop Entry]
Categories=Network;InstantMessaging;Chat;
Comment=A Matrix client for Vim addicts
Exec=jiamb
GenericName=Matrix Client
Keywords=Matrix;matrix.org;chat;communications;talk;
Name=jiamb
Icon=iamb
StartupNotify=false
Terminal=true
TryExec=jiamb
Type=Application
